
<ion-header>
  <ion-navbar>
    <ion-title>
      Flights
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6">
  <ion-list id="flights-list4">
    <ion-item>
      <ion-label fixed>From</ion-label>
      <ion-input type="toDestination" value="" [(ngModel)]="origin"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>To</ion-label>
      <ion-input type="endDestination" [(ngModel)]="dest"></ion-input>
    </ion-item>
    <button ion-button block = "true" on-click="refreshFlights()">Search</button>
    <ion-item color="none" on-click="goToConfirm(flight)" *ngFor="let flight of flights">
      <ion-item color="none"id="flights-list-item33">
        <ion-thumbnail item-left >
          <ion-icon name="plane" item-left></ion-icon>
          <img [src]="flight.imageUrl" />
        </ion-thumbnail>
        <h2>
          {{flight.airline}}
        </h2>
        <table align="center">
          <tr>
            <th>{{origin}}</th>
            <th><ion-icon name="arrow-back"></ion-icon><ion-icon name="arrow-forward"></ion-icon></th>
            <th>{{dest}}</th>
          </tr>
          <tr>
              <td>{{flight.leave_time1}}</td>
              <td align="center"><ion-icon name="arrow-forward"></ion-icon></td>
              <td>{{flight.arrive_time1}}</td>
          </tr>
          <tr>
              <td>{{flight.arrive_time2}}</td>
              <td align="center"><ion-icon name="arrow-back"></ion-icon></td>
              <td>{{flight.leave_time2}}</td>
          </tr>
        </table>

        <h4 text-right *ngIf="flight.price != null">
          US ${{flight.price}}
        </h4>
        <h4 text-right *ngIf="flight.price == null">
            No price data
        </h4>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
