<ion-header>
  <ion-navbar>
    <ion-title>
      Flights
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6">
  <ion-list id="flights-list4">
    <ion-item>
      <ion-label fixed>From</ion-label>
      <ion-input type="toDestination" value="" [(ngModel)]="origin"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>To</ion-label>
      <ion-input type="endDestination" [(ngModel)]="from"></ion-input>
    </ion-item>
    <button ion-button block = "true" on-click="refreshFlights()">Search</button>
    <ion-item color="none" on-click="goToConfirm()" *ngFor="let flight of flights">
      <ion-item color="none" on-click="goToConfirm()" id="flights-list-item33">
        <ion-thumbnail item-left>
          <ion-icon name="plane" item-left></ion-icon>
        </ion-thumbnail>
        <h2>
          {{flight.airline}}
        </h2>
        <h4 text-right *ngIf="flight.price != null">
          US ${{flight.price}}
        </h4>
        <h4 text-right *ngIf="flight.price == null">
            No price data
        </h4>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
