<ion-header>
  <ion-navbar>
    <ion-title>
      Confirm
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7">
  <ion-card id="confirm-card22">
    <ion-list>
      <ion-item id="confirm-checkbox4">
        <ion-label>
            Dates
        </ion-label>
        <ion-checkbox [(ngModel)]="checkDate"></ion-checkbox>
      </ion-item>
      <ion-item color="none" id="confirm-list-item47">
        From: {{startDate}}
        <ion-note item-right></ion-note>
      </ion-item>
      <ion-item color="none" id="confirm-list-item48">
        To: {{endDate}}
        <ion-note item-right></ion-note>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card id="confirm-card21">
    <ion-list>
        <ion-item id="confirm-checkbox5">
          <ion-label>
            Resort
          </ion-label>
          <ion-checkbox [(ngModel)]="checkResort"></ion-checkbox>
        </ion-item>
        <ion-item color="none" >
          <ion-thumbnail item-left>
            <img src="resort.img_src" />
          </ion-thumbnail>
          <h2>
            {{resort.name}}
          </h2>
          <h4 text-right *ngIf="resort.cost != null">
            US ${{resort.cost}}
          </h4>
          <h4 text-right *ngIf="resort.cost == null">
              No price data
          </h4>
          <p>
            Rating:{{resort.rating}}, Snowfall:{{resort.snowfall}} in, {{resort.weather}}
          </p>
        </ion-item>
    </ion-list>
  </ion-card>
  <ion-card id="confirm-card23">
    <ion-list>
        <ion-item id="confirm-checkbox6">
          <ion-label>
            Hotel
          </ion-label>
          <ion-checkbox [(ngModel)]="checkHotel"></ion-checkbox>
        </ion-item>
        <ion-item  id="hotelsNearSilverton-list-item17">
          <ion-thumbnail item-left>
            <img src="assets/img/2Q" />
          </ion-thumbnail>
          <h2>
            {{hotel.name}}
          </h2>
          <h4>
            US ${{hotel.price}} per night, 
          </h4>
          <h4>
              Address {{hotel.address}}
          </h4>
          <h4>
              Rating {{hotel.rating}}
          </h4>
          <ion-icon item-right name="arrow-dropright"></ion-icon>
        </ion-item>
    </ion-list>
  </ion-card>
  <ion-card id="confirm-card24">
    <ion-list>
      <ion-item id="confirm-checkbox7">
        <ion-label>
          Flight
        </ion-label>
        <ion-checkbox [(ngModel)]="checkFlight"></ion-checkbox>
      </ion-item>
      <ion-item color="none"id="flights-list-item33">
        <ion-thumbnail item-left>
          <ion-icon name="plane" item-left></ion-icon>
        </ion-thumbnail>
        <h2>
          {{flight.airline}}
        </h2>
        <table align="center">
          <tr>
            <th>{{origin}}</th>
            <th><ion-icon name="arrow-back"></ion-icon><ion-icon name="arrow-forward"></ion-icon></th>
            <th>{{dest}}</th>
          </tr>
          <tr>
              <td>{{flight.leave_time1}}</td>
              <td align="center"><ion-icon name="arrow-forward"></ion-icon></td>
              <td>{{flight.arrive_time1}}</td>
          </tr>
          <tr>
              <td>{{flight.arrive_time2}}</td>
              <td align="center"><ion-icon name="arrow-back"></ion-icon></td>
              <td>{{flight.leave_time2}}</td>
          </tr>
        </table>

        <h4 text-right *ngIf="flight.price != null">
          US ${{flight.price}}
        </h4>
        <h4 text-right *ngIf="flight.price == null">
            No price data
        </h4>
      </ion-item>
    </ion-list>
  </ion-card>
  <button ion-button block = "true" on-click="saveData()">Save trip!</button>
</ion-content>